<div>
  <div >
    <h1 class="headers text-left">Search Article By Title</h1>
  </div>
  <div class="model d-flex justify-content-start flex-column">
    <!-- textBox to insert article's title --->
    <div class="justAlign text-center">
      <div>
        <label class="typeLabelCreate" for="searchTitle">Write the Title</label>
        <input id="searchTitle" class="allTextBoxes text-center"
               type="text" [(ngModel)]="titleSearched">
      </div>
      <div>
        <input id="search" class="validationButtons" type="button"
               value="Search Article" (click)="search(titleSearched)">
      </div>
    </div>
    <!-- display area of searched article --->
    <div class="justAlign text-center" *ngIf="artSearched != undefined">
      <div>
        <app-article
          [article]="artSearched"
        >
        </app-article>
        <div class="justAlign text-center">
          <a href="articles/{{artSearched.id}}" [routerLink]="['/articles', artSearched.id]">
            <input id="validation" class="validationButtons" type="button"
                   value="View Content">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
