<div>
  <nav>
    <a class="colorLinks" routerLink="/articles" routerLinkActive="active">Home</a>
    <a class="colorLinks" routerLink="/statistics" routerLinkActive="active">Statistics</a>
  </nav>
  <router-outlet></router-outlet>
</div>
