<div>
  <div>
    <div class="d-flex justify-content-center">
      <h2 class="headers text-center">Delete an Article</h2>
    </div>
  </div>
  <div class="justAlign d-flex">
    <div class="d-flex justify-content-center flex-column">
      <div>
        <label class="headers2" for="delete">Chose the Article to Delete</label>
      </div>
      <div>
        <select id="delete" class="optionBoxes" name="drafts" [(ngModel)]="idArticle">
          <option class="drafts" *ngFor="let articleToDelete of listThisUserAllArticles"
                  [value]="articleToDelete.id">
            {{articleToDelete.title}}
          </option>
        </select>
      </div>
      <div class="d-flex justify-content-around flex-column">
        <div>
          <div class="text-center">
            <input id="createDraft" class="validationButtons " type="button"
                   (click)="deleteArticle()" value="Delete">
          </div>
        </div>
        <div class="goodAnswer" *ngIf="showMessageSuccess">
          {{MessageSuccess}}
        </div>
      </div>
    </div>
  </div>
</div>
