<div>
  <div>
    <div class="d-flex justify-content-center">
      <h2 class="headers text-center">Modify an Article</h2>
    </div>
  </div>

  <div class="margins d-flex justify-content-around flex-column">
    <!-- select DRAFTS  -->
    <div class="d-flex justify-content-start flex-column">
      <div>
        <label class="headers2" for="drafts">Modify or Publish Drafts</label>
      </div>
      <div>
        <select id="drafts" class="optionBoxes" name="drafts" [(ngModel)]="idDraft">
          <option class="drafts" *ngFor="let draftToChose of listThisUserDrafts"
                  [value]="draftToChose.id" (click)="displayModifyDraftArea(draftToChose.id)">
            {{draftToChose.title}}
          </option>
        </select>
      </div>
      <!-- modify DRAFTS  -->
      <div *ngIf="showDraftArea">

        <div class="d-flex justify-content-center flex-column">
          <div>
            <div>
              <label class="LabelCreate" for="title">Modify Article's Title</label>
            </div>
            <div>
              <input id="title" class="allTextBoxes text-center" type="text"
                     [(ngModel)]="title">
            </div>
          </div>
          <div>
            <div>
              <label class="LabelCreate" for="overview">Modify Article's Overview</label>
            </div>
            <div>
              <input id="overview" class="allTextBoxes text-center" type="text"
                     [(ngModel)]="overview">
            </div>
          </div>
          <div>
            <div>
              <label class="LabelCreate" for="content">Modify Article's Content</label>
            </div>
            <div>
              <input id="content" class="allTextBoxes text-center" type="text"
                     [(ngModel)]="content">
            </div>
          </div>
          <div>
            <div>
              <label class="LabelCreate" for="cat">Category to Modify</label>
            </div>
            <div>
              <select id="cat" class="optionBoxes" name="catToChose" [(ngModel)]="categoryId">
                <option class="catToChose" *ngFor="let catToChose of listCategories"
                        [value]="catToChose.categoryId">
                  {{catToChose.categoryName}}
                </option>
              </select>
            </div>
          </div>
          <div>
            <div>
              <label class="LabelCreate" for="tags">Article's tags. Separate them by commas ',' not spaces.
              </label>
            </div>
            <div>
              <input id="tags" class="allTextBoxes text-center" type="text"
                     [(ngModel)]="tagString">
            </div>
          </div>
          <!-- buttons PUBLISH or MODIFY AS DRAFT  -->
          <div class="d-flex justify-content-around flex-row">

            <div class="text-center">
              <input id="publish" class="validationButtons " type="button"
                     (click)="publish(idDraft)" value="Publish">
            </div>
            <div class="text-center">
              <input id="modifyDraft" class="validationButtons " type="button"
                     (click)="modifyDraft(idDraft)" value="Modify as Draft">
            </div>

          </div>
          <div class="errors" *ngIf="showMessageIncomplete">
            {{MessageIncomplete}}
          </div>
          <div class="goodAnswer" *ngIf="showMessageSuccess">
            {{MessageSuccess}}
          </div>
          <div class="goodAnswer" *ngIf="showMessageSuccessPublished">
            {{MessageSuccessPublished}}
          </div>
        </div>

      </div>

    </div>
    <!-- select PUBLISHED  -->
    <div class="d-flex justify-content-end flex-column">
      <div>
        <label class="headers2" for="published">Modify Content from Published Articles</label>
      </div>
      <div class="text-center">
        <select id="published" class="optionBoxes" name="published" [(ngModel)]="idPublished">
          <option class="published" *ngFor="let publishedToChose of listThisUserPublished"
                  [value]="publishedToChose.id"
                  (click)="displayModifyPublishedArea(publishedToChose.id)">
            {{publishedToChose.title}}
          </option>
        </select>
      </div>

      <div *ngIf="showPublishedArea">

      <div>
        <div>
          <label class="LabelCreate" for="contentPublished">Modify Article's Content</label>
        </div>
        <div>
          <input id="contentPublished" class="allTextBoxes text-center" type="text"
                 [(ngModel)]="content">
        </div>
      </div>
      <div>
        <div>
          <label class="LabelCreate" for="catPublished">Category to Modify</label>
        </div>
        <div>
          <select id="catPublished" class="optionBoxes" name="catToChose" [(ngModel)]="categoryId">
            <option class="catToChose" *ngFor="let catToChose of listCategories"
                    [value]="catToChose.categoryId">
              {{catToChose.categoryName}}
            </option>
          </select>
        </div>
      </div>
      <div>
        <div>
          <label class="LabelCreate" for="tagsPublished">Article's tags. Separate them by commas ',' not spaces.
          </label>
        </div>
        <div>
          <input id="tagsPublished" class="allTextBoxes text-center" type="text"
                 [(ngModel)]="tagString">
        </div>
      </div>
        <div class="d-flex justify-content-around flex-row">
          <div class="text-center">
            <input id="modifyPublished" class="validationButtons " type="button"
                   (click)="modifyDraft(idPublished)" value="Modify">
          </div>
        </div>
        <div class="errors" *ngIf="showMessageIncomplete">
          {{MessageIncomplete}}
        </div>
        <div class="goodAnswer" *ngIf="showMessageSuccess">
          {{MessageSuccess}}
        </div>
      </div>

    </div>
  </div>

</div>
