<div>
  <div class="design text-center">

    <!-- display Article's title and AUTHOR -->
    <div>
      <div class="nameArticle">
        <div class="labelName">Article's Name:</div>
        {{article.title}}
      </div>
      <div class="nameArticle">
        <div class="labelName">Overview:</div>
        {{article.overview}}
      </div>
    </div>

  </div>
</div>
