.design{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  background: #dbf6fb;
  border: solid 1px coral;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
}
.names{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  font-size: medium;
}
.labels{
  font-weight: bold;
  color: coral;
  font-size: medium;
}
.labelName{
  font-weight: bold;
  color: coral;
  font-size: large;
}
.nameArticle{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  font-size: medium;
}
