<div *ngIf="articleWithContent != undefined">
  <div>
      <div class="d-flex justify-content-center">
        <h1 class="headers text-center">ZeniBlog by Cyn</h1>
        <img src="https://training.zenika.com/_nuxt/img/6a3e0d5.png"
             alt="" width="120px">
      </div>
  </div>
  <div>
    <div *ngIf="articleWithContent.status == 'DRAFT' " class="status d-flex justify-content-end">
      <div class="status"></div>
      {{articleWithContent.status}}
    </div>
    <div class="design text-center">
      <div class="nameArticle">
        <div class="labelName">Article's Name:</div>
        {{articleWithContent.title}}
      </div>
      <div class="nameArticle">
        <div class="labelName">Overview:</div>
        {{articleWithContent.overview}}
      </div>
      <div class="nameArticle">
        <div class="labelName">Content:</div>
        {{articleWithContent.content}}
      </div>
    </div>
  </div>
</div>
