<div>
  <div class="d-flex justify-content-center">
    <h1 class="headers text-center">ZeniBlog by Cyn
      <img src="https://training.zenika.com/_nuxt/img/6a3e0d5.png"
           alt="" width="120px">
    </h1>
  </div>

  <div class="justAlign d-flex justify-content-around">
    <div>
      <div class="d-flex justify-content-start flex-column">
        <app-author></app-author>
      </div>
      <div class="d-flex justify-content-start flex-column">
        <app-search-by-title></app-search-by-title>
      </div>
      <div class="d-flex justify-content-start flex-column">
        <app-consulted-articles></app-consulted-articles>
      </div>
    </div>

    <div>
      <div div class="d-flex justify-content-end flex-column">
        <app-list-articles></app-list-articles>
      </div>
      <div div class="d-flex justify-content-end flex-column">
        <app-list-by-authors></app-list-by-authors>
      </div>
      <div class="d-flex justify-content-start flex-column">
        <app-list-by-category></app-list-by-category>
      </div>
      <div div class="d-flex justify-content-end flex-column">
        <app-list-by-tag></app-list-by-tag>
      </div>
    </div>

  </div>
</div>
