<div>
  <div>
    <div class="d-flex justify-content-center">
      <h1 class="headers text-center">ZeniBlog by Cyn
        <img src="https://training.zenika.com/_nuxt/img/6a3e0d5.png"
             alt="" width="120px">
      </h1>
    </div>
    <div class="d-flex justify-content-around">
    <!-- graph GENERAL articles -->
      <div class="d-flex justify-content-start flex-column">
        <div class="chartStyle">
          <div class="text-center">
            <label class="labelGraphs">Number of Articles</label>
          </div>
          <div class="chart-wrapper">
            <canvas baseChart
                    [data]="dataArticles"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>
        </div>
      </div>
      <!-- graph AUTHOR articles -->
      <div class="d-flex justify-content-start flex-column">
        <div class="chartStyle">
          <div class="text-center">
            <label class="labelGraphs">Number of Articles by Author</label>
          </div>
          <div class="text-center">
            <select id="published" class="optionBoxes" name="published" [(ngModel)]="id">
              <option class="published" *ngFor="let author of listAuthors"
                      [value]="author.id" (click)="authorSelected(author.id)"
                      >
                {{author.pseudo}}
              </option>
            </select>
          </div>
          <div class="chart-wrapper">
            <canvas baseChart
                    [data]="dataArticlesAuthors"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
    <! --- CATEGORIES & TAGS -->

    <div class="d-flex justify-content-around">
      <!-- graph CATEGORIES articles -->
      <div class="d-flex justify-content-start flex-column">
        <div class="chartStyle">
          <div class="text-center">
            <label class="labelGraphs">Number of Articles by Category</label>
          </div>
          <div class="text-center">
            <select id="cat" class="optionBoxes" name="catToChose" [(ngModel)]="categoryId">
              <option class="catToChose" *ngFor="let catToChose of listCategories"
                      [value]="catToChose.categoryId" (click)="categorySelected(catToChose.categoryId)">
                {{catToChose.categoryName}}
              </option>
            </select>
          </div>
          <div class="chart-wrapper">
            <canvas baseChart
                    [data]="dataArticlesCategories"
                    [labels]="lineChartCategories"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsCat"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>
        </div>
      </div>
      <!-- graph TAGS -->
      <div class="d-flex justify-content-start flex-column">
        <div class="chartStyle">
          <div class="text-center">
            <label class="labelGraphs">Number of Articles by Tag</label>
          </div>
          <div class="text-center">
            <select id="tag" class="optionBoxes" name="tag" [(ngModel)]="tagId">
              <option class="tag" *ngFor="let tagToChose of listTags"
                      [value]="tagToChose.tagName" (click)="tagSelected(tagToChose.id)">
                {{tagToChose.tagName}}
              </option>
            </select>
          </div>
          <div class="chart-wrapper">
            <canvas baseChart
                    [data]="dataArticlesTags"
                    [labels]="lineChartTags"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsCat"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>
        </div>
      </div>

    </div>

</div>
