<div>
  <div>
    <h1  class="headers text-left">Consulted Articles</h1>
  </div>
  <div class="d-flex justify-content-around flex-column">
    <div>
      <div class="model">
      <div *ngFor="let consultedArt of listConsultedArts">
        <app-article
          [article]="consultedArt"
        >
        </app-article>
      </div>
      </div>
      <div>
        <h1  class="headers2 text-left">Erase Historic of Consulted Articles</h1>
        <div class="model2 d-flex justify-content-center">
        <input id="validation" class="validationButtons" type="button"
               value="Erase Historic" (click)="eraseHistoricOfConsultedArts()">
        </div>
      </div>
    </div>
  </div>
</div>
