<div>

    <div>
      <h1 class="headers text-left">Display Articles By Author</h1>
    </div>

    <div class="model d-flex justify-content-start flex-column">

      <div class="justAlign">
        <label class="labels" for="choseAuthor">Chose Author by his Pseudo</label>
        <select id="choseAuthor" class="allTextBoxes" name="author" [(ngModel)]="pseudo">
          <option class="option" *ngFor="let authorToChose of listAuthors"
                  [value]="authorToChose.pseudo" (click)="selectAuthor(authorToChose.id)">
            {{authorToChose.pseudo}}
          </option>
        </select>
      </div>

      <div>
        <div>
          <div>
            <h1 class="headers2 text-left"> Articles by {{pseudo}}</h1>
          </div>
          <div class="model">
            <div *ngFor="let articleByAuthor of listArticlesByAuthors">
              <app-article
                [article]="articleByAuthor"
              ></app-article>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>
