<div>
  <div>
    <h1  class="headers text-left"> List of Published Articles</h1>
  </div>
  <div class="model">
    <div *ngFor="let art of articleList">
      <app-article
        [article]="art"
      >
      </app-article>
      <div class="justAlign text-center">
        <a href="articles/{{art.id}}" [routerLink]="['/articles', art.id]">
          <input id="validation" class="validationButtons" type="button"
                 value="View Content" (click)="changeIsConsultedArticle(art.id)">
        </a>
      </div>
    </div>
  </div>
</div>
