<div>

  <div>
    <h1 class="headers text-left">Display Articles By Tag</h1>
  </div>

  <div class="model d-flex justify-content-start flex-column">

    <div class="justAlign">
      <label class="labels" for="choseTag">Chose the Tag</label>
      <select id="choseTag" class="allTextBoxes" name="cat" [(ngModel)]="tagName">
        <option class="option" *ngFor="let tagToChose of listTags"
                [value]="tagToChose.tagName" (click)="selectTag(tagToChose.id)">
          {{tagToChose.tagName}}
        </option>
      </select>
    </div>

    <div>
      <div>
        <div>
          <h1 class="headers2 text-left"> Articles by {{tagName}}</h1>
        </div>
        <div class="model">
          <div *ngFor="let articleByTag of listArticlesByTag">
            <app-article
              [article]="articleByTag"
            ></app-article>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

