<div>

  <div>
    <h1 class="headers text-left">Display Articles By Category</h1>
  </div>

  <div class="model d-flex justify-content-start flex-column">

    <div class="justAlign">
      <label class="labels" for="choseCat">Chose the Category</label>
      <select id="choseCat" class="allTextBoxes" name="cat" [(ngModel)]="categoryName">
        <option class="option" *ngFor="let catToChose of listCategories"
                [value]="catToChose.categoryName" (click)="selectCategory(catToChose.categoryId)">
          {{catToChose.categoryName}}
        </option>
      </select>
    </div>

    <div>
      <div>
        <div>
          <h1 class="headers2 text-left"> Articles by {{categoryName}}</h1>
        </div>
        <div class="model">
          <div *ngFor="let articleByCategory of listArticlesByCategory">
            <app-article
              [article]="articleByCategory"
            ></app-article>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
