<div>
  <!-- START create USER -->
  <div>
    <div >
      <h1 class="headers text-left">Create User</h1>
    </div>
    <div class="model d-flex justify-content-start flex-column">
      <div class="justAlign text-center">
        <div>
          <label class="typeLabelCreate" for="pseudo">Chose a Pseudonym</label>
          <input id="pseudo" class="allTextBoxes text-center" type="text" [(ngModel)]="pseudo">
        </div>
        <div>
          <label class="typeLabelCreate" for="mail">Insert your mail</label>
          <input id="mail" class="allTextBoxes text-center" type="text" [(ngModel)]="mail">
        </div>
      </div>
      <div class="justAlign text-center">
        <div>
          <input id="createUser" class="validationButtons" type="button" (click)="createUser()"
                 value="Create User">
        </div>
        <div class="errors" *ngIf="showMessageIncorrectInfo">
          {{MessageIncorrectInfo}}
        </div>
        <div class="goodAnswer" *ngIf="showMessageSuccess">
          {{MessageSuccess}}
        </div>
      </div>
    </div>
  </div>
  <!-- START login -->
  <div>
    <div >
      <h1 class="headers text-left">Log In</h1>
    </div>
    <div class="model d-flex justify-content-start flex-column">
      <div class="justAlign text-center">
        <div>
          <label class="typeLabelCreate" for="existingPseudo">Insert your Pseudonym</label>
          <input id="existingPseudo" class="allTextBoxes text-center" type="text" [(ngModel)]="existingPseudo">
        </div>
        <div>
          <label class="typeLabelCreate" for="existingMail">Insert your mail</label>
          <input id="existingMail" class="allTextBoxes text-center" type="text" [(ngModel)]="existingMail">
        </div>
      </div>
      <div class="justAlign text-center">
        <div>
          <a href="users/{{existingMail}}" [routerLink]="['/users', existingMail]">
          <input id="logIn" class="validationButtons" type="button" (click)="logIn()"
                 value="Validate">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
