.headers{
  font-weight: bolder;
  color: #ff4e24;
  margin: 30px;
  font-size: xx-large;
  font-family: "Comic Sans MS", sans-serif;
}

.model{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  background: #dbf6fb;
  border: solid 1px coral;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  margin: 10px;
}
.validationButtons{
  margin: 10px;
  padding: 3px;
  font-size: 16px;
  background: coral;
  color: white;
  font-family: "Comic Sans MS";
}
.justAlign{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  font-family: "Comic Sans MS";
}
.allTextBoxes{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: coral;
  align-content: center;
}
.typeLabelCreate{
  color: coral;
  font-weight: bolder;
}
.labels{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  margin: 15px;
}
.reponseCreated{
  color: coral;
  font-weight: bold;
  margin: 10px;
}
.errors {
  color: red;
  font-weight: bold;
}
.goodAnswer{
  color: coral;
  font-weight: bold;
  margin: 10px;
}
