<div *ngIf="existingUser != undefined">
  <div>
    <div class="d-flex justify-content-center">
      <h1 class="headers text-center">ZeniBlog by Cyn</h1>
      <img src="https://training.zenika.com/_nuxt/img/6a3e0d5.png"
           alt="" width="120px">
    </div>
    <div class="d-flex justify-content-center">
      <div>
      <h2 class="labelName text-center">Welcome Back</h2>
      <div class="labelName text-center">{{existingUser.pseudo}}</div>
      </div>
    </div>
    <!-- list of DRAFTS of selected author -->
    <div class="justAlign d-flex justify-content-around ">
      <div class="margins d-flex justify-content-start flex-column">
        <div>
          <div>
            <h2 class="labels text-center">My Drafts</h2>
          </div>
        </div>
        <div class="model">
          <div *ngFor="let art of myDrafts">
            <app-article
              [article]="art"
            >
            </app-article>
          </div>
        </div>
      </div>
      <!-- get to create and modify options -->
      <div class="margins d-flex justify-content-end flex-column">
        <div>
          <input id="create" class="validationButtons" type="button"
                 value="Create an Article" (click)="showCreateArea()">
        </div>
        <div>
          <input id="modify" class="validationButtons" type="button"
                 value="Modify an Article" (click)="showModifyArea()">
        </div>
        <div>
          <input id="delete" class="validationButtons" type="button"
                 value="Delete an Article" (click)="showDeleteArea()">
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="displayCreateArea">
    <app-create-article
      [idCurrentUser]="idAuthor"
    ></app-create-article>
  </div>
  <div *ngIf="displayModifyArea">
    <app-modify-article
      [idCurrentUser]="idAuthor"
    ></app-modify-article>
  </div>
  <div *ngIf="displayDeleteArea">
    <app-delete-article
      [idCurrentUser]="idAuthor"
    ></app-delete-article>
  </div>

</div>

<!-- not existing user -->
<div *ngIf="existingUser == undefined">
  <div class="d-flex justify-content-center">
    <h1 class="headers text-center">ZeniBlog by Cyn</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <h2 class="labelName text-center">User not Found</h2>
    </div>
  </div>
</div>


