.design{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  background: #dbf6fb;
  border: solid 1px coral;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
}
.names{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  font-size: medium;
}
.labels{
  font-weight: bold;
  color: coral;
  font-size: x-large;
  margin-bottom: 20px;
}
.labelName{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  font-size: x-large;
}
.nameArticle{
  font-weight: bold;
  color: rgba(75, 148, 190, 0.96);
  font-size: large;
}
.headers{
  font-weight: bolder;
  color: #ff4e24;
  margin: 30px;
  font-size: xx-large;
  font-family: "Comic Sans MS", sans-serif;
}

.status{
  font-weight: bold;
  color: white;
  background: red;
  border: solid 1px red;
  border-radius: 10px;
}
.margins{
  margin-left: 40px;
  margin-top: 40px;
}

.justAlign{
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.validationButtons{
  margin: 10px;
  padding: 3px;
  font-size: 25px;
  font-weight: bold;
  background: coral;
  color: white;
  font-family: "Comic Sans MS";
}
