<div>
  <div>
    <div class="d-flex justify-content-center">
      <h2 class="headers text-center">Create an Article</h2>
    </div>
  </div>
  <!-- start Create's textBoxes  -->
  <div class="justAlign d-flex">
    <div class="d-flex justify-content-center flex-column">
      <div>
        <div>
          <label class="LabelCreate" for="title">Article's Title</label>
        </div>
        <div>
          <input id="title" class="allTextBoxes text-center" type="text"
                 [(ngModel)]="title" required minlength="5">
        </div>
      </div>
      <div>
        <div>
          <label class="LabelCreate" for="overview">Article's Overview</label>
        </div>
        <div>
          <div class="createRestriction" id="remainingChars">Max limit is 50 words</div>
          <input id="overview" class="allTextBoxes text-center" type="text"
                 required minlength="5"
               [(ngModel)]="overview"  [maxLength]="maxOverview(overview)" (ngModelChange)="maxOverview(overview)">
          <script type="text/javascript">
            $("#overview").keyup(function(){

              var content = $("#overview").val(); //content is now the value of the text box
              var words = content.split(/\s+/); //words is an array of words, split by space
              var num_words = words.length; //num_words is the number of words in the array
              var max_limit=10;
              if(num_words>max_limit){
                alert("Exceeding the max limit");
                var lastIndex = content.lastIndexOf(" ");
                $("#overview").val(content.substring(0, lastIndex));

                $('#remainingChars').text('Limit Exceeding');
                return false;
              }
              else
              {
                $('#remainingChars').text(max_limit+1-num_words +" words remaining");
              }
            });
          </script>
        </div>

        <div class="errors" *ngIf="showErrorOverview"></div>
      </div>
      <div>
        <div>
          <label class="LabelCreate" for="content">Article's Content</label>
        </div>
        <div>
          <input id="content" class="allTextBoxes text-center" type="text"
               [(ngModel)]="content">
        </div>
      </div>
      <div>
        <div>
          <label class="LabelCreate" for="cat">Choose a Category for you Article</label>
        </div>
        <div>
          <select id="cat" class="optionBoxes" name="catToChose" [(ngModel)]="categoryId">
            <option class="catToChose" *ngFor="let catToChose of listCategories"
                    [value]="catToChose.categoryId">
              {{catToChose.categoryName}}
            </option>
          </select>
        </div>
      </div>
      <div>
        <div>
          <label class="LabelCreate" for="tags">Article's tags. Separate them by commas ',' not spaces.
          </label>
        </div>
        <div>
          <input id="tags" class="allTextBoxes text-center" type="text"
               [(ngModel)]="tagString">
        </div>
      </div>
      <div>
        <div class="text-center">
          <input id="createDraft" class="validationButtons " type="button"
                 (click)="createDraft()" value="Create Draft">
        </div>
      </div>
      <div class="errors" *ngIf="showMessageIncomplete">
        {{MessageIncomplete}}
      </div>
      <div class="goodAnswer" *ngIf="showMessageSuccess">
        {{MessageSuccess}}
      </div>
    </div>
  </div>
</div>
