.headers {
  font-weight: bolder;
  color: #ff4e24;
  margin: 30px;
  font-size: x-large;
  font-family: "Comic Sans MS", sans-serif;
}
.allTextBoxes{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: coral;
  align-content: center;
  width: 800px;
}
.optionBoxes{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: coral;
  align-content: center;
  width: auto;
}
.LabelCreate{
  color: coral;
  font-weight: bolder;
}
.createRestriction{
  color: #ff4832;
  font-weight: bold;
  margin-left: 20px;
  font-size: small;
}
.justAlign{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  font-family: "Comic Sans MS", sans-serif;
}
.validationButtons{
  margin: 10px;
  padding: 3px;
  font-size: 16px;
  background: coral;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
}
.labels{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  margin: 15px;
}
.reponseCreated{
  color: coral;
  font-weight: bold;
  margin: 10px;
}
.errors {
  color: red;
  font-weight: bold;
}
.goodAnswer{
  color: coral;
  font-weight: bold;
  margin: 10px;
}
.margins{
  margin-left: 40px;
  margin-top: 40px;
}
